body{
  background-color:#ccd9ff;
  }

.navbar{
  background-color:#ffffcc;
}
.carousel img{
  margin: 0 auto;
}

.right-box{
  padding: 20px;
  border: solid #ccd9ff 15px;
  background-color:#9494b8;
}
.left-box{
  padding: 20px;
  border: solid #ccd9ff 15px;
  background-color:#b3ffb3;
}

.title{
  float: left;
  width: 40%;
}
.content{
  background-color: #ccffef;
  float: left;
  width: 60%;
}

.item img{
  max-width: 719px;
  max-height: 476px;
}

.aboutme{
  margin: 2px;
}

footer {
    background-color:#ffb3d9;
    text-align:center;
}

.carousel-caption{
  color: #00e600;
}
