body{
  background-color:#ccd9ff;
  }

.navbar{
  background-color:#ffffcc;
}
.carousel img{
  margin: 0 auto;
}

#about-me{
  padding: 20px;
  border: solid #ccd9ff 15px;
  background-color:#9494b8;
}
#list{
  padding: 20px;
  border: solid #ccd9ff 15px;
  background-color:#b3ffb3;
}

.title{
  float: left;
  width: 40%;
}
.content{
  background-color: #ccffef;
  float: left;
  width: 60%;
}

.item img{
  max-width: 719px;
  max-height: 476px;
}

.aboutme{
  padding: 1px;
  border: 3px solid black;
  margin: 3px;
  font-family: sans-serif;
  color: #4d0026;
}

#list p{
  font-family:cursive;
  color: #ff6666;
  font-size: 16px;
}

footer {
    background-color:#ffb3d9;
    text-align:center;
}

.carousel-caption{
  color: #00e600;
}
